<img src="https://raw.githubusercontent.com/hkengo/DOOR/change/oyako_management/app/assets/images/DOOR_icon.png" width="100px"/>
<h1>DOOR management</h1>

<h3>Line bot users</h3>
<%= link_to "ユーザー情報一覧", users_path %>

<h3>Clovas</h3>
<%= link_to "クローバ端末一覧", clovas_path %>
